<header>
	<a href="{{ path('app_home') }}" class="logo">
		<img src="{{ asset('images/logo.svg') }}" alt="Logo de GreenGoodies">
	</a>
	<nav>
		<ul>
			<li>
				<a href="">Nos produits</a>
			</li>
			<li>
				<a href="">Mon panier</a>
			</li>
			<li>
				<a href="">Mon compte</a>
			</li>
			<li>
				{% if app.user %}
					<a href="{{ path('app_logout') }}">Déconnexion</a>
				{% else %}
					<a href="{{ path('app_login') }}">Connexion</a>
				{% endif %}
			</li>
		</nav>
	</header>