<header>
	<div class="logo">
		<img src="{{ asset('images/logo.svg') }}" alt="Logo de GreenGoodies">
	</div>
	<nav>
		<ul>
			<li><a href="">Nos produits</a></li>
			<li><a href="">Mon panier</a></li>
			<li><a href="">Mon compte</a></li>
			<li><a href="">Connexion</a></li>
		</ul>
	</nav>
</header>