/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */

html {
    font-size: 16px; 
    font-family: "Inter", sans-serif;
    color: #333333;
    background-color: #FFFDF7;
}

html, body {
    height: 100%; 
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1; 
}

.btn-primary {
    text-decoration: none;
    display: block;
    background-color: #565656;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    cursor: pointer;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

input:focus {
    outline: none; 
}

.background-secondary {
    background-color: #f7f1ec;
}

a {
    text-decoration: none;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 100px;
    background-color: #FFFDF7;
    border-bottom: 1px solid #F6F5F0;

}

.logo img {
    height: 50px; 
}

nav ul {
    list-style: none; 
    display: flex; 
    align-items: center;
}

nav ul li {
    margin: 0 15px; 
}

nav ul li a {
    color: #333333; 
}

/* Banner */

.banner {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-color: #E8F0E3; 
}

.banner__text {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #E8F0E3; 
}

.banner_text_wrapper {
    width: 50%;
    background-color: #E8F0E3;
}

.banner__title {
    font-size: 4rem; 
    font-weight: 500;
    margin-bottom: 38px;
    background-color: #E8F0E3; 
}

.banner__description {
    font-size: 1.2rem; 
    background-color: #E8F0E3;
}

.banner__image {
    flex: 1; 
    display: flex; 
    justify-content: center; 
}

.banner__img {
    max-width: 100%; 
    height: auto; 
}

/* Home - Products */

.products {
    text-align: center;
}

.products__title {
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 31px 100px;
    text-align: start;
}

.products__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}

.product-img img {
    width: 100%;
    height: 474px;
    display: block;
    object-fit: cover;
}

.product_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 41px 0;
}

.product__title {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.product__short-description {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
}

.product__price {
    font-size: 1.1em;
    color: #000;
    padding: 20px 0;
}

.product__link {
    color: #333;
    padding: 23px 16px;
}

/* Home - About */

.about {
	display: flex;
	flex-direction: column;
}

.about__section {
	display: flex;
	align-items: stretch;
	width: 100%;
}

.about__conviction {
	background-color: #f0e6d2; 
}

.about__values {
	background-color: #dce6d6; 
}

.about__values .about__text {
	align-items: flex-end;
}

.about__text-wrapper {
    width: 50%;
}

.about__conviction .about__text-wrapper {
	padding: 40px;
}

.about__values .about__text-wrapper {
	padding: 0px 40px 40px 0px;
}

.about__text {
	flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}

.about__title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.about__description {
	font-size: 1rem;
	line-height: 1.6;
    font-weight: 300;
}

.about__image {
	flex: 1; 
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about__image img {
	width: 100%;
	height: auto;
	object-fit: cover;
    height: 646px;
}

/* Footer */

footer {
    height: 81px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 90px;
}

/* Page - Show product */

.detail-product {
    display: flex;
    padding-bottom: 220px;
}

.detail-product__image {
    flex: 1;
}

.detail-product__image img {
    width: 100%;
    object-fit: cover;
    height: 686px;
}

.detail-product__text {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.detail-product__text-wrapper {
    padding: 87px 120px 0 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-product__title {
    font-size: 1.25rem;
}

.detail-product__price {
    margin: 25px 0 50px 0;
}

.detail-product__short-description {
    color: #666666;
    font-weight: 400;
}

.detail-product__description-word {
    padding-bottom: 10px;
    font-size: 0.7rem;
}

.cart__quantity-wrapper {
    padding: 60px 0;
}

.cart__quantity-wrapper label {
    margin-right: 10px;
    color: #666666;
    font-weight: 400;
}

.cart__quantity-wrapper input {
    width: 30px;
}

.detail-product__form-wrapper button {
    width: 100%;
}

.cart-count-wrapper {
    display: flex;
    align-items: center;
}

/* Auth page (login + signin) */

.auth {
    display: flex;
}

.auth__form-wrapper {
    padding: 80px 100px;
}

.auth form {
    display: flex;
    flex-direction: column;
    color: #666666;
}

.auth form h1 {
    margin-bottom: 40px;
    color: #333333;
}

.auth form input {
    height: 67px;
    border: 1px solid #666666;
    margin-bottom: 30px;
    padding-left: 15px;
}

.auth form label {
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.auth__image {
    flex: 1;
}

.auth__image img {
    width: 100%;
    height: 988px;
    object-fit: cover;
}

.auth__form {
    flex: 1;
}

.auth__redirect {
    text-align: center;
    margin-top: 27px;
    text-decoration: underline;
}

.auth__redirect a {
    font-size: 0.8rem;
    color: #666666;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.sign__img {
    height: 1104px!important;
}

.form-check {
    flex-direction: row;
    align-items: center;
}

#registration_form_agreeTerms {
    margin-bottom: 0;
    margin-right: 10px;
}

.form-check label {
    margin-bottom: 0!important;
}

.alert-login {
    text-align: center;
    margin-bottom: 40px;
}

.form-error-message {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    color: red;
    font-weight: 100;
}

.form-error-message ul {
    padding-left: 0; 
    margin: 0;      
}

.form-error-message li {
    list-style-type: none; 
}

/* Cart page */

.cart__title {
    text-align: center;
    margin-bottom: 16px;
}

.cart__empty-link {
    display: inline-block;
    margin-bottom: 17px;
    color: #666666;
    font-size: 0.8rem;
}

.cart__item-image {
    width: 30%;
}

.cart__item-content {
    width: 60%;
}

.cart__item-image img {
    width: 132px;
    height: 142px;
    object-fit: cover;
}

.cart__item-wrapper {
    display: flex;
    padding: 40px;
    background-color: #FFFDF7;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.cart__wrapper {
    width: 50%;
    margin: auto;
    padding: 100px 0;
}

.cart__total-wrapper {
    background-color: #FFFDF7B2;
    padding: 20px 40px;
    display: flex;
    justify-content: end;
}

.cart__total-amount {
    width: 30%;
}

.cart__content a {
    display: flex;
    justify-content: center;
}

.cart__button {
    margin-top: 30px;
    width: 100%;
}

.cart__item-title {
    margin-bottom: 6px;
}

.cart__item-quantity {
    margin-bottom: 13px;
    color: #666666;
}

.cart__item-price {
    font-size: 19px;
    font-weight: 500;
}

.cart__total-amount p:first-of-type {
    margin-bottom: 6px;
    font-weight: 500;
}

.cart__total-amount p:nth-of-type(2) {
    font-size: 12px;
    color: #666666;
}

.cart__total-amount p:first-of-type span {
    font-size: 20px;
    font-weight: 400;
}

.cart__button a {
    display: flex;
    justify-content: center;
}

.cart__empty-message {
    margin-top: 50px;
}

.cart__checkout-button {
    width: 70%;
    margin: auto;
}

.cart-count {
    background-color: #ff4500;
    color: white;
    border-radius: 50%;
    width: 1.2em; 
    height: 1.2em; 
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-left: 0.5em;
    font-weight: 300;
    padding: 13px;
}

/* Account */

.account__wrapper {
    width: 50%;
    margin: auto;
    padding: 45px 0;
}

.account__title {
    margin-bottom: 45px;
    text-align: center;
}

.account__content-wrapper {
    background-color: #FFFDF7;
    padding: 60px;
    margin-bottom: 15px;
}

.account__orders-title {
    margin-bottom: 30px;
}

.account__orders-table {
    width: 100%;
}

.account__orders-table {
    width: 100%;
    border-collapse: collapse; 
}

thead {
    text-align: left;
}

th, td {
    padding: 8px;
    border: 1px solid transparent; 
}

.account__table-header {
    color: #666666;
    font-size: 14px;
    font-weight: 300;
}

.account__table-header:nth-child(1), .account__order-id:nth-child(1) {
    width: 30%;
}

.account__table-header:nth-child(2), .account__order-date:nth-child(2) {
    width: 40%;
}

.account__table-header:nth-child(3), .account__order-total-amount:nth-child(3) {
    width: 0%;
}

.account__orders-table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #ccc; 
}

.account__orders-table tbody tr:last-child td {
    border-bottom: none;
}

.account__table-header, .account__order-id, .account__order-date, .account__order-total-amount {
    line-height: 2.5; 
}

.account__table-header {
    line-height: normal; 
}

.account__api-access-header {
    margin-bottom: 30px;
}

.account__api-access-button button {
    width: 100%;
}

.account__delete-button button {
    width: 100%;
}

.alert-success {
    text-align: center;
    margin-bottom: 45px;
}
.alert-success.hidden {
    opacity: 0;
    visibility: hidden;
}

.flash-message {
    transition: opacity 0.3s ease-in-out;
    opacity: 1; 
    margin-top: 30px;
}

.flash-message.hidden {
    opacity: 0; 
    visibility: hidden; 
}












